{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "shared/styles/globals.css",
  "tailwindFunctions": ["cn", "cva"]
}
